extends layout

block pageHead

block content

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

  div(style="height:100vh;width:100vw;background:green;padding:0;margin:0;position:absolute;")
      p(style="height:100vh;width:100vw;font-size:50px;") #{gal}


  script.
    console.log('Local Script');
    console.log('')