extends layout

block pageHead

block content

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="javascripts/load-image.all.min.js")


  div(class="image-gallery" id="gallery")


  script.
    $.get("/get-images", function (images) {
      populateImages(images);
    });

    function populateImages(images) {
      let imgGallery = document.getElementById("gallery");
      var imageCount = 1;
      images.forEach(function(image) {
        var newImage = document.createElement("img");
        newImage.className = "gallery-image";
        newImage.id = "galleryImage" + imageCount;
        var imageUrl = 'images/portfolio/' + image;
        loadImage(
          imageUrl,
          function (img, data) {
            if (img.type === "error") {
              console.error("Error loading image " + imageUrl);
            } else {
              // img.className("gallery-image")
              // img.id = "galleryImage" + imageCount;
              imgGallery.appendChild(img);
              console.log("Original image width: ", data.originalWidth);
              console.log("Original image height: ", data.originalHeight);
            }
          },
          {
            maxWidth: 600,
            orientation: true
          },
        );
        imageCount++;
      });
    }
