/*padding: top right bottom left*/
body {
  font: 14px 'Ubuntu', sans-serif;
  background: black;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e2333;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
}


.nav {
  width: 100vw;
  background: rgba(200,200,200,0.7);
  z-index: 100;
  position: fixed;
}

.nav:hover {
  background: rgba(255,255,255,0.85);
}

.nav-title {
  color: rgba(0,0,0,0.7);
  position: relative;
  font-size: 4vh;
  text-decoration: none;
  margin-left:10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}

.nav-title:hover {
  color: rgba(0,0,0,1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-height: 650px) {
  .nav-title {
    font-size: 26px;
  }
}

.footer {
  width: 100%;
  height: 120px;
  background: green;

}


.image-container {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  padding: 0;
  position: relative;
  /*z-index: 1;*/
}

.slide-image {
  height: 100vh;
  width: auto;
  position: absolute;
}

.album-container {
  /*height: 100vh;*/
  /*width: 100vw;*/
  display: flex;
  background: rgb(47,46,59);
  background: linear-gradient(301deg, rgba(47,46,59,1) 0%, rgba(22,21,28,1) 38%, rgba(22,21,28,1) 100%);
  justify-content: space-evenly;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

/* PADDING: Top, Right, Bottom, Left*/
.album-item {
  height: 400px;
  /*width: 30vw;*/
  width: 300px;
  background: rgb(22,21,28);
  background: linear-gradient(321deg, rgba(22,21,28,1) 0%, rgba(47,46,59,1) 100%);
  border-radius: 10px;
  margin: 30px 15px 0 15px;
  cursor: pointer;
  /*border: #333333 3px solid;*/
}




/*
  ~~~~~ Gallery Styles ~~~~~
*/

.image-gallery {
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   10px;
  -moz-column-count:    5;
  -moz-column-gap:      10px;
  column-count:         5;
  column-gap:           10px;
}

.image-gallery canvas{
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1500px) {
  .image-gallery {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
  }
}
@media (max-width: 1200px) {
  .image-gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}
@media (max-width: 900px) {
  .image-gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 600px) {
  .image-gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}

.gallery-image{
  /*width: 100% !important;*/
  /*height: auto !important;*/
}
